@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'IDroid';
    src: url(../fontes/IDroid.otf) format('opentype');
    font-weight: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-image:linear-gradient(to left, #f5f7fa, #c3cfe2 ) ;
   
}

header {
    padding: 20px 0;
    background-image: linear-gradient(to bottom, #2fa866, #063d1e);
    color: #ffff;
    text-align: center;
    box-shadow: 0px 7px 9px black;
}

.texto h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 20px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.651);
}

.texto p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: auto;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.281);
    max-width: 600px;
    padding-bottom: 10px;
}

nav {
    display:flex;
    font-size: 1.2em;
    margin-left: 20px;
    flex: auto;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #272932;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
    transition-duration: 0.6s;
    margin: 5px;
}

nav a:hover {
    background-image: linear-gradient(to right, #203f44, #598e96);
    color: #ffffff;
}

main {
    width: 700px;
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

article h1 {
    font-size: 1.8em;
    font-family: 'IDroid';
    color: #063d1e;
    padding: 10px;
}

article h2 {
    font-family: 'IDroid';
    color: #063d1e;
    background-image: linear-gradient(to right, #66ac85, #ffff);
}

.paragrafo {
    font-size: 1em;
    margin: 15px 0px;
    line-height: 2em;
    text-align: justify;
    text-indent: 30px;
}