@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'IDroid';
    src: url(../fontes/IDroid.otf) format('opentype');
    font-weight: normal;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-image:linear-gradient(to left, #f5f7fa, #c3cfe2 ) ;
   
}


header {
    padding: 40px;
    background-image: linear-gradient(to bottom, #2fa866, #063d1e);
    color: #ffff;
    text-align: center;
    box-shadow: 0px 7px 9px black;
    
}

.texto h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 20px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.651);
}

.texto p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: auto;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.281);
    max-width: 600px;
    padding-bottom: 10px;
}

nav {
    display:flex;
    font-size: 1.2em;
    margin-left: 20px;
    flex: auto;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #272932;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
    transition-duration: 0.6s;
    margin: 5px;
}

nav a:hover {
    background-image: linear-gradient(to right, #203f44, #598e96);
    color: #ffffff;
}

main {
    max-width: 700px;
    min-width: 320px;
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img {
    width: 100%;
}

.pequena {
    display: block;
    margin: auto;
    max-width: 350px;
}

article h1 {
    font-size: 1.8em;
    font-family: 'IDroid';
    color: #063d1e;
    padding: 10px;
}

article h2 {
    font-family: 'IDroid';
    color: #063d1e;
    background-image: linear-gradient(to right, #66ac85, #ffff);
}

.paragrafo {
    font-size: 1em;
    margin: 15px 0px;
    line-height: 2em;
    text-align: justify;
    text-indent: 30px;
}

.video {
    position: relative;
    background-color: black;
    margin: 0px -20px 30px -20px;
    padding-top: 60%;
}

iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
}

aside {
    background-color:#83e1ad;
    padding: 10px;
    border-radius: 10px;
}

aside h3 {
    padding: 10px;
    background-color:#1a5c37; 
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #ffffff;
}

aside ul {
    list-style: '✔️\00A0\00A0' ;
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: #063d1e;
    color: #ffff;
    text-align: center;
    font-size: 0.9em;
    padding: 10px;
}

footer a {
    color: #ffff;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.1em;
}

footer a:hover {
    color: #2fa866;
    text-decoration: underline;
}

.externo {
    background-color: #2fa866;
    padding: 5px;
    text-decoration: none;
}

.externo:hover {
    background-color: #063d1e;
    color: #ffffff;
    text-decoration: underline;
}

a.externo::after {
    content: '\00A0🔗';
}

strong {
    padding: 5px;
    background-image: linear-gradient(to right, #66ac85, #ffff);
}
@media (min-width:300px) and (max-width:507px) {
    nav {
        flex-direction: column;
        font-size: 1.3em;
    }
}

